.login-register-modal__close {
	align-self: flex-end;
}

.login-register-modal__input {
	font-family: inherit;
}

.login-register-modal__error {
	font-size: 0.8rem;
	color: tomato;
	margin-left: var(--space);
	margin-bottom: var(--space);
}
