.login-register-modal__overlay {
	background-color: rgba(255, 255, 255, 0.25);
	position: fixed;
	inset: 0px;
}

.login-register-modal__content {
	width: 50%;
	height: 450px;
	max-height: 75%;
	position: absolute;
	inset: 40px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.login-register-modal__close {
	align-self: flex-end;
}

.login-register-modal__input {
	font-family: inherit;
}

.login-register-modal__error {
	font-size: 0.8rem;
	margin-left: var(--space);
	margin-bottom: var(--space);
}
