.chirp-list {
	flex: 1;
	align-self: stretch;
	padding: var(--space);
	overflow-y: auto;

	/* Hide scrollbar on Firefox */
	scrollbar-width: none;
}

/* Hide scrollbar on Chrome/Safari */
.chirp-list::-webkit-scrollbar {
	display: none;
}
