.chirp-card {
	display: flex;
}

.chirp-card__main {
	flex: 1;
}

.chirp-card__content {
	flex: 1;
}

.chirp-card__meta {
	font-style: italic;
	font-size: small;
}

.chirp-card__del {
	align-self: center;
	margin-bottom: 0;
}
