.chirp-form {
	width: 100%;
	align-items: center;
}

.chirp-form__textarea {
	width: 50%;
	min-height: 80px;
	resize: none;
}

.chirp-form__button {
	cursor: pointer;
	font-family: inherit;
	transition: 0.1s ease;
}
