:root {
	--primary: #424242;
	--secondary: #616161;
	--primary-text: whitesmoke;
	--secondary-text: black;
	--accent: #ffd600;
	--error: tomato;
	--shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
	--rounding: 8px;
	--space: 16px;
	--space-s: 8px;
}

.App {
	align-items: center;
	height: 100vh;
	background-color: var(--secondary);
	color: var(--primary-text);
}

.main {
	width: 768px;
	flex: 1;
	margin-top: var(--space);
	margin-bottom: var(--space);
	min-height: 0;
}

.card {
	background-color: var(--primary);
	border: none;
	box-shadow: var(--shadow);
	border-radius: var(--rounding);
	color: var(--primary-text);
	padding: var(--space);
	margin-bottom: var(--space);
}

.card--secondary {
	background-color: var(--secondary);
}

.card--no-shadow {
	box-shadow: none;
}

.button {
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	background-color: var(--accent);
	padding: var(--space-s);
	color: var(--secondary-text);
}

.form__error {
	font-size: 0.8rem;
	color: var(--error);
	margin-left: var(--space);
	margin-bottom: var(--space);
	margin-top: calc(-1 * var(--space-s));
}

@media only screen and (max-device-width: 480px) {
	.main {
		width: 100%;
	}
}
